.parent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.map-container {
  height: calc(100vh - 80px) !important;
  width: 100%;
}

p1 {
  font-family: monospace;
  color: white;
}

#segids {
  background-color: rgb(236, 243, 243);
  overflow-x: scroll;
  overflow-y: scroll;
  color: rgb(39, 38, 38);
  font-family: "Roboto", sans-serif;
}
