.parent {
  position: absolute;
  top: 0;
  left: 0;
}

.map-container {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.toolbar {
  background-color: darkslategrey;
  height: 30px;
}

p1 {
  font-family: monospace;
  color: white;
}