.parent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.map-container {
  height: calc(100vh - 80px) !important;
  width: 100%;
}

body {
  padding-left: 0px !important;
}